.report-container-2 {
    display: flex;
    flex-direction: column;
    /* cursor: pointer; */
    gap: 1.4rem;
    margin-top: 3rem;
}

.report-container h2 {
    font-size: 3rem;
}

.submit-btn {
    height: 5.7rem;
    width: 20rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2350B2;
    font-weight: 400;
    /* background-color: purple; */
    border: 0.28rem solid #2350B2;
    font-size: 2rem;
    transition: all 120ms ease-in-out;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.submit-btn:hover {
    background-color: #2350B2;
    color: white;
    cursor: pointer;
}

.text-area {
    border: transparent;
    height: 30rem;
    /* font-size: 3rem; */
    /* padding: 20rem; */
    margin-bottom: 2rem;
    font-size: 2rem;

}

textarea {
    height: 40rem;
    width: 100%;
    border: 0.2rem solid #2350B2;
    border-radius: 1rem;
    padding: 2rem;
    transition: all 120ms ease-in-out;
}

textarea:active {
    border-color: brown;
}